html, body {
  height: 100%;
}

#map {margin: 5px;
      height: 80%;
      width: 99%;
      float: center;}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#options {
  display: flex;
  height: 20%;
}

.vert {
  vertical-align: middle;
}

#access {
  flex: 30%;
  align-items: center;
  float: left;
}

#reset {
  flex: 30%;
}

.inputs {
  margin:0, auto;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
